<a href="<mango:Blog basePath />"><img src="<mango:Blog skinurl />assets/images/<mangox:Random items='International-Distributors.png'/>" width="930" alt="<mango:Blog title />" title="<mango:Blog title />" /></a>