<script type="text/javascript">
$(document).ready(function(){
$(".example8").colorbox({width:"50%", inline:true, href:"#inline_example1", open:true});
});
</script>




<CFIF IsDefined("form.submitqsrinfo")>
				<cfset errors = StructNew()> 
				<cfif Trim(form.title) is ""><cfset a = StructInsert(errors, "Enter your title", "", 1)></cfif>
				<cfif Trim(form.firstNameInfo) is ""><cfset a = StructInsert(errors, "Enter your first name", "", 1)></cfif>
				<cfif Trim(form.lastNameInfo) is ""><cfset a = StructInsert(errors, "Enter your last name", "", 1)></cfif>
                <cfif Trim(form.phoneNumber) is ""><cfset a = StructInsert(errors, "Enter your phone number", "", 1)></cfif>
				<cfif Trim(form.emailInfo) is "" or form.emailInfo.IndexOf("@") eq -1 ><cfset a = StructInsert(errors, "Enter a valid emailInfo address", "", 1)> </cfif>
	<!---	<cfif Trim(form.emailInfo) neq Trim(form.cemailInfo)><cfset a = StructInsert(errors, "emailInfo addresses do not match", "", 1)> 
               	
                
                
                </cfif> --->
		
	  	</CFIF>
	  	<CFIF IsDefined("form.submitqsrinfo") AND StructCount(errors) eq 0>
 <!--- Get request from ColdFusion page contenxt. --->
     <cfset objRequest = GetPageContext().GetRequest() />
      
     <!--- Get requested URL from request object. --->
     <cfset strUrl = objRequest.GetRequestUrl().Append(
     "?" & objRequest.GetQueryString()
     ).ToString()
     />

<!--- construct message --->
		<cfset mailMessage="<div style=""font-family:Arial, Helvetica, sans-serif "">">
		<cfset mailMessage=#mailMessage#&"<p>Title: <strong>#form.title#</strong></p>">
		<cfset mailMessage=#mailMessage#&"<p>Name: <strong>#form.firstNameInfo# #form.lastNameInfo#</strong></p>">
		<cfset mailMessage=#mailMessage#&"<p>Restaurant Name: <strong>#form.restaurantName#</strong></p>">
        <cfset mailMessage=#mailMessage#&"<p>Phone Number: <strong>#form.phoneNumber#</strong></p>">
		<cfset mailMessage=#mailMessage#&"<p>Email: <strong>#form.emailInfo#</strong></p>">
    	
		
		<cfset mailMessage=#mailMessage#&"<p>Referred URL: <strong> #strUrl#</strong></p>">
    





		<cfset mailMessage=#mailMessage#&"<p>Contact Information Submitted <strong>#DateFormat(Now(),"m/d/yyyy")# - #TimeFormat(Now(),"HH:mm:ss")#</strong></p>">





		<cfset mailMessage=#mailMessage#&"</div>">

			<CFMAIL TO="ovazquez@hme.com"
					FROM="webmaster@hme.com"
					SUBJECT="Request Info form from the Web"
					type="html">#mailMessage#</CFMAIL>
	
    
    				 				
			<p class='example8'>Thank you for your interest in HME.<br /> We will process your request as soon as possible.</p>
            
				  

					  		
		<CFELSE>
	   		<cfif IsDefined("errors") AND StructCount(errors) greater than 0>
	   			<strong class="red">Please complete/correct the following information:</strong>
				<ul class="red">
				<cfloop collection="#errors#" item="key"> 
					 <cfoutput> 
					   	<li><strong>#key#</strong></li>
					 </cfoutput> 
				</cfloop>	   		
				</ul>
			</cfif>
			<br>
			
			<form action="<cfoutput>#CGI['PATH_INFO']#</cfoutput>" method="post" class="input-x" name="GetInfo">



<p>
                    <label for="title">Title</label>
                    <SELECT SIZE="1" NAME="Title">

<OPTION VALUE="owner">Owner</OPTION>
<OPTION VALUE="manager">Manager</OPTION>
<OPTION VALUE="director">Director</OPTION>
<OPTION VALUE="staff">Staff</OPTION>
<OPTION VALUE="other">Other</OPTION>

</SELECT>
                  </p>
                  <p>
                    <label for="firstNameInfo">*First Name</label>
                    <input type="text" name="firstNameInfo" value="<cfif isDefined("form.firstNameInfo")><cfoutput>#form.firstNameInfo#</cfoutput></cfif>" />
                  </p>
                  <p>
                    <label for="lastNameInfo">*Last Name</label>
                    <input type="text" id="lastNameInfo" name="lastNameInfo" value="<cfif isDefined("form.lastNameInfo")><cfoutput>#form.lastNameInfo#</cfoutput></cfif>" />
                  </p>
                  <p>
                    <label for="restaurantName">*Restaurant Name</label>
                    <input type="text" id="restaurantName" name="restaurantName" value="<cfif isDefined("form.restaurantName")><cfoutput>#form.restaurantName#</cfoutput></cfif>" />
                  </p>
                  <p>
                    <label for="phoneNumber">*Phone Number</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" value="<cfif isDefined("form.phoneNumber")><cfoutput>#form.phoneNumber#</cfoutput></cfif>" />
                  </p>
                  <p>
                    <label for="emailInfo">*E-mail</label>
                    <input type="text" id="emailInfo" name="emailInfo" value="<cfif isDefined("form.emailInfo")><cfoutput>#form.emailInfo#</cfoutput></cfif>" />
                    <br />
                  </p>
              
                  <p>Your <a href="/link/Privacy_Policy.html" target="_blank" id="privacy">Privacy</a> is Assured
                    <input class="submit" type="submit" value="submit" name="submitqsrinfo" />
                  </p>
                </form></CFIF>


