<cfoutput>
<ul id="nav">
	<li class="dir"><a class="current" href="http://#CGI.HTTP_HOST#">Distributor Portal Home</a></li>
	<li class="dir">Library
		<ul>
			<li class="dor"><a href="http://#CGI.HTTP_HOST#/page.cfm/product-manuals">Installation and Operations Manuals</a></li>
			<li class="dor"><a href="http://#CGI.HTTP_HOST#/page.cfm/parts-repair-documents">Parts &amp; Repair Documents</a></li>
			<li class="dor"><a href="http://#CGI.HTTP_HOST#/page.cfm/sales-documents">Sales Documents</a></li>
		</ul>
	</li>	
	<li class="dir"><a href="http://#CGI.HTTP_HOST#/index.cfm?logout=1">Logout</a></li>
</ul>
</cfoutput>